.container {
  width: 25vw;
  height: 105vh;
  padding: 30% 0px;
  flex-direction: column;
  justify-content: center;
  background-color: #162d66;

  .title{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 700;
    font-size: 1.3rem;
    margin-bottom: 5px;
  }
}
